.appBar {
    background-color: #388e3c;
    color: #fff;
    top: 0;
    right: 0;
    left: auto;
    position: sticky;
    display: flex;
    align-items: center;
    z-index: 1100;
    min-height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    /* elevation4 */
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.title {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.title a {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 600px) {
    .appBar {
        min-height: 64px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 0px) and (orientation: landscape) {
    .appBar {
        min-height: 48px;
    }
}
