.navigationItem {
    width: 100%;
    padding: 6px 12px 8px;
    max-width: 168px;
    min-width: 80px;
    text-align: center;
}

.navigationItem a {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}

.selectedNavigationItem a {
    color: #388e3c;
}

.navigationItem a span {
    font-size: 0.75rem;
    transition: font-size 0.2s, opacity 0.2s;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

@media (max-width: 480px) {
    .navigationItem a span {
        display: none;
    }

    .navigationItem {
        padding: 6px 6px 6px;
        min-width: 36px;
    }
}