.cal {
    color: #ab47bc; /*[purple 400](https://material-ui.com/static/colors-preview/purple-400-24x24.svg)*/
}

.fat {
    color: #8d6e63; /*[brown 400](https://material-ui.com/static/colors-preview/brown-400-24x24.svg)*/
}

.carbs {
    color: #42a5f5; /*[blue 400](https://material-ui.com/static/colors-preview/blue-400-24x24.svg)*/
}

.protein {
    color: #66bb6a; /*[green 400](https://material-ui.com/static/colors-preview/green-400-24x24.svg)*/
}