.table {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}

.tableBody {
    display: table-row-group;
}

.tableRow {
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

.tableCell {
    padding: 6px 24px 6px 16px;
    display: table-cell;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.align-right {
    text-align: right;
}
