.content {
    margin-bottom: 60px;
}

.todayCard {
    max-width: 600px;
    margin: 16px;
    margin-top: 32px;
}

.recipeList {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.noDiet {
    text-align: center;
    margin: 0;
    font-size: 6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.167;
    letter-spacing: -0.01562em;
}