.indexVerticalGrid {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-left: 16px;
    padding-right: 16px;
}

.energiePieChartContent {
    height: 190px;
}

.dayCard {
    width: 300px;
}

@media (min-width: 1280px) {
    .indexVerticalGrid {
        max-width: 1280px;
    }
}

@media (min-width: 600px) {
    .indexVerticalGrid {
        padding-left: 24px;
        padding-right: 24px;
    }
}