.ingredientsHorizontalGrid {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-left: 16px;
    padding-right: 16px;
}

.ingredientCard {
    width: 300px;
    margin: 16px;
    margin-top: 32px;
}
